.DS_Store
node_modules
.env
.env.*
!.env.example
/packages/*/build
/packages/*/.svelte-kit
/packages/*/package
.vscode
.idea
packages/storybook-flutterjs/build-storybook.log
packages/storybook-flutterjs/storybook-static